
.jumbotron{
    border:2px solid black;
    align-self: center;
    width:500px;
    margin:0px auto;
}
form{
    width: 450px;
}
label{
    margin-left: 5px;
}
input{
    margin-left: 5px;
}
h3{
    align-self:center;
}
.navbar{
    width:100%;
    background: black;
}
.label1{
    color:rgb(245, 223, 223);
}
.form-inline{
    width: 100%;
}
.formdiv{
    margin-right: 10px;
    margin-top: 10px;
}
.col-sm-3{
    background: rgb(174, 169, 184);
    height:100%;
    width: 20%;
}
.form{
    margin-top: 5px;
}
.col-sm-6{
    height: 100%;
    background-color:rgb(97, 87, 87);
    width: 60%;
}
.friend{
    font-size:20px;
}
.messagefield{
    width: 98%;
    height: 98%;
    border: 2px black;
}
.send{
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    height: 10%;
}
.messagebox{
    width: 80%;
}
.field{
    border: 2px black;
    height: 87%;
    margin-bottom: 0 px;
    margin-top: 5px;
}
.hr1{
    margin-bottom: 10px;
}
.logout{
    margin-left:80 px;
}
#textfield{
    width: 80%;
    overflow-y:auto;
}